<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Grafici</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawCharts);

function drawCharts() {
var data = google.visualization.arrayToDataTable({{data|safe}});
var data2 = google.visualization.arrayToDataTable({{data2|safe}});

var options = {
// Opzioni del grafico
};

var chart1 = new google.visualization.LineChart(document.getElementById('chart_div1'));
chart1.draw(data, options);

var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
chart2.draw(data2, options);
}
</script>
</head>
<body>
<div id="chart_div1" style="width: 100%; height: 400px;"></div>
<div id="chart_div2" style="width: 100%; height: 400px;"></div>
</body>
</html>